.weather-widget {
  display: flex;
  justify-content: center; }
  .weather-widget__container {
    background-color: #f0f0f0;
    min-width: 35rem;
    padding: 2rem; }
  .weather-widget .forecast {
    font-size: 14px;
    margin: 2rem 0; }
    .weather-widget .forecast--loading {
      display: flex;
      justify-content: center;
      padding: 2rem 0; }
    .weather-widget .forecast__loader {
      height: 2rem; }
    .weather-widget .forecast__container {
      align-items: stretch;
      background: #ffffff;
      display: flex;
        min-height: 6rem;
    }

.weather-widget .forecast__temp {
    font-size: 2rem;
}

.weather-widget .forecast__panel {
    display: flex;
    flex: 2 1 0;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 0;
    text-align: center;
}

.weather-widget .forecast__panel:hover {
    background-color: #f0f0f0;
}

.weather-widget .forecast__panel .wi {
    font-size: 2rem;
}

.weather-widget .forecast__panel--city {
    flex: 3 1 0;
    font-weight: bold;
}

.weather-widget .forecast__panel--today {
    background: #f8f8f8;
}

.weather-widget .form__field {
    align-items: center;
    display: flex;
}
    .weather-widget .form__field :last-child {
      margin-left: auto; }
    .weather-widget .form__field label {
      font-size: 1rem;
      font-weight: bold; }
    .weather-widget .form__field input {
      border: none;
      border-radius: .25rem;
      font-family: "Courier New", sans-serif;
      font-size: 1rem;
      font-weight: bold;
      margin: 0 0.5rem;
      padding: .25rem .5rem;
      width: 5rem; }
